/* ---------Navbar */
.navbar{
    padding: 17px 16px;
    border-bottom: 0.5px solid #E0E0E0;
}
.navbar .navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar .navbarMenu{
    display: none;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    padding: 24px;
    height: 100%;
    z-index: 1000;
    background-color: #F2F2F2;
}
.navbar .navbarMenu .navbarHeader{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.navbar .navbarMenu .navbarHeader h3{
    font-size: 24px;
    font-weight: bold;
}
.navbar .navbarMenu .navbarHeader .navbarMenuExit{
    color: var(--secondary-text);
    font-size: 24px;
    float: right;
}
.navbar .navbarMenu .navbarItems{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: 24px;
}
.navbar .navbarMenu .navbarItems hr,
.navbar .navbarMenu hr {
    width: 100%;
    border: none; 
    border-top: 1px solid var(--primary-color); 
  }
.navbar .navbarMenu .navbarItems .navbarItem a{
    color: var(--secondary-text);
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 4px;
}
.navbar .navbarMenu .navbarItems .navbarItem.button{
    background: var(--button-bg);
    padding: 10px 24px;
    border-radius: 6px;
}
.navbar .navbarMenu .navbarItems .navbarItem.button a{
    color: var(--white-text);
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
}
.navbar .navbarMenu.active{
    display: block;
}
.navbar .navbarContainer .menuIcon{
    display: none;
}
.navbar .navbarContainer .navbarItems{
    display: flex;
    gap:24px;
    align-items: center;
}
.navbar .navbarContainer .navbarLogo{
    font-weight: 700;
    font-size: 24px;
}
.navbar .navbarContainer .navbarItems .navbarItem a{
    color: var(--secondary-text);
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 4px;
}
.navbar .navbarContainer .navbarItems .navbarItem.button{
    background: var(--button-bg);
    padding: 10px 24px;
    border-radius: 6px;
}
.navbar .navbarContainer .navbarItems .navbarItem.button a{
    color: var(--white-text);
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
}
.navbar .navbarContainer .navbarItems .navbarItem a svg{
    font-size: 24px;
}
@media (max-width: 768px) {
    .navbar .navbarContainer .navbarItems{
        display:none;
    }
    .navbar .navbarContainer .menuIcon{
        display: block;
        font-size: 24px;
        color: var(--secondary-text);
    }
    .navbar .navbarContainer .navbarLogo{
        font-weight: 700;
        font-size: 18px;
    }
}

/* -------Register */
.register{
    padding: 75px 250px;
}
.register .registerContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 16px;
}
.register .registerContainer h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
}
.register .registerContainer p{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: var(--secondary-text);
}
.register .registerContainer form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.register .registerContainer form .registerInputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
    flex-wrap: wrap;
    margin-bottom: 24px;
    gap: 24px;
}
.register .registerContainer form .registerInputs .inputField{
    border: var(--secondary-text) 1px solid;
    border-radius: 18px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.register .registerContainer form .registerInputs .inputField svg{
    font-size: 24px;
    color: var(--secondary-text);
}
.register .registerContainer form .registerInputs .inputField svg:nth-child(3){
    position: absolute;
    right: 10px;

    cursor: pointer;
}
.register .registerContainer form .registerInputs .inputField input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 85%;
}
.register .registerContainer form .submit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.register .registerContainer form .submit .submitCheck{
    display: flex;
    gap:10px;
    align-items: center;
}
.register .registerContainer form .submit .submitCheck input{
    outline: 2px solid black;
    border-radius: 4px;
}
.register .registerContainer form .submit .submitCheck span{
    font-size: 14px;
    font-weight: 700;
}
.register .registerContainer form .submit .submitCheck span a{
    text-decoration: none;
}
.register .registerContainer form .submit .submitButton button{
    color: var(--white-text);
    background: var(--button-bg);
    padding: 16px 145px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
@media(max-width: 1090px){
    .register{
        padding: 55px 150px;
    }
}
@media(max-width: 890px){
    .register{
        padding: 48px 88px;
    }
}
@media(max-width: 890px){

    .register {
        padding: 0 10px;
    }
    .register .registerContainer form .registerInputs{
        grid-template-columns: 1fr;
    }
    .register .registerContainer{
        padding: 10px 16px;
        align-items: center;
    }
    .register .registerContainer form .submit .submitButton,
    .register .registerContainer form .submit .submitButton{
        width: 100%;
    }
}

/* -------footer */

.footer{
    background-color: var(--primary-color);
    width: -webkit-fill-available;
    padding: 30px 155px;

}
.footer .footerContainer{
    display: flex;
    justify-content: space-between;
}
.footer .footerContainer .about{
    text-align: left;
    color: var(--white-text);
    width: 50%;
}
.footer .footerContainer .about .footerLogo{
    font-weight: 700;
    font-size: 24px;
}
.footer .footerContainer .about p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.footer .footerContainer .footerLinks{
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--white-text);
}
.footer .footerContainer .footerLinks .socialMedia{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
}
.footer .footerContainer .footerLinks .socialMedia a{
    color: var(--white-text);
}
.footer .footerContainer .footerLinks .socialMedia a svg{
    font-size: 26px;
}
.footer .footerContainer .footerLinks .socialMedia a img{
    height: 26px;
}
.footer .footerContainer .footerLinks .links{
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}
.footer .footerContainer .footerLinks .links a{
    text-decoration: none;
    color: var(--white-text);
    font-size: 18px;
    font-weight: 400;
}
.footer .footerContainer .footerLinks .rights{
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
}
.footer .footerContainer .footerLinks .rights a{
    color: var(--white-text);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
@media(max-width: 1090px){
    .footer{
        padding: 30px 45px;
    }
}
@media(max-width: 890px){
    .footer .footerContainer{
        flex-direction: column;
        align-items: center;
    }
    .footer .footerContainer .about {
        text-align: center;
        width: 90%;
    }
    .footer .footerContainer .footerLinks{
        align-items: center;
    }
}

/* ---------Reset Password  */
.passwordReset{
    padding: 75px 250px;
}
.passwordReset .passwordResetContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
}
.passwordReset .passwordResetContainer h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
}
.passwordReset .passwordResetContainer form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.passwordReset .passwordResetContainer form .inputField{
    border: var(--secondary-text) 1px solid;
    border-radius: 18px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.passwordReset .passwordResetContainer form .inputField svg{
    font-size: 24px;
    color: var(--secondary-text);
}
.passwordReset .passwordResetContainer form .inputField svg:nth-child(3){
    position: absolute;
    right: 10px;

    cursor: pointer;
}
.passwordReset .passwordResetContainer form .inputField input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 85%;
}
.passwordReset .submitButton button{
    color: var(--white-text);
    background: var(--button-bg);
    padding: 16px 145px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
@media(max-width: 890px){
    .passwordReset{
        padding:0;
    }
}

/* -------Home */

/* --searchBar */
.searchBar{
    background:var(--button-bg);
    padding: 24px;
}
.searchBar .filterDisplayBtn{
    color: var(--white-text);
    background: var(--primary-color);
    font-size: 26px;
    font-weight: 700;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;

    display: none;
}
.searchBar .searchBarContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.searchBar .searchBarContainer .inputField{
    background: var(--bg-color);
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border-radius: 18px;
}
.searchBar .searchBarContainer .inputField input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 500px;
}
.searchBar .searchBarContainer .inputField svg{
    font-size: 32px;
    color: var(--primary-color);
}
/* --HomeContent */
.home{
    margin: 20px 24px;
}
.home .homeContainer{
    display: flex;
    gap: 11px;
}
.home .homeContainer .hidden .filterBar{
    background: #FFF1DE;
    border-radius: 8px;
    
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    flex: 0 0 20%;
   
}
.home .homeContainer .hidden .filterBar hr{
    border:0.5px solid #FFD08F;
    width:100%
}
.home .homeContainer .hidden .filterBar .filterOptionContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.home .homeContainer .hidden .filterBar .filterOptionContainer .filterTitle{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.home .homeContainer .hidden .filterBar .filterOptionContainer .filterTitle .optionSettings{
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
}
.home .homeContainer .hidden .filterBar .filterOptionContainer .filterTitle .optionSettings a{
    color: var(--primary-color);
}
.home .homeContainer .hidden .filterBar .filterOptionContainer .filterTitle .optionSettings svg{
    font-size: 18px;
}
.home .homeContainer .hidden .filterBar .filterOptionContainer .filterTitle .optionSettings .expandBtn{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    outline:none;
    padding: 0;
}
.home .homeContainer .hidden .filterBar .filterOptionContainer .filterTitle .optionSettings .expandBtn svg{
    font-size: 20px;
    color: var(--secondary-text);
}
.home .homeContainer .hidden .filterBar .submitBtn{
    display: none;
}
.home .homeContainer .hidden .filterBar .filterOptionContainer .filterTitle h3{
    margin: 0;
    font-size: 18px;
}
.home .homeContainer .hidden .filterBar .filterOptionContainer .filterInputs{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.home .homeContainer .hidden .filterBar .filterOptionContainer .filterInputs .rangeValues{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home .homeContainer .hidden .filterBar .filterOptionContainer .filterInputs .rangeValues span{
    font-weight: bold;
    font-size: 14px;
}
.home .homeContainer .hidden .filterBar .filterOptionContainer .filterInputs .optionBadgeContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}
.home .homeContainer .hidden .filterBar .filterOptionContainer .filterInputs .optionBadgeContainer .badge{
    background: var(--bg-color);
    color: var(--primary-text);
    border: 1px solid var(--secondary-text);
    padding: 4px 16px;
    border-radius: 24px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}
.hidden .filterBar .header{
    display: none;
}
.home .homeContainer .hidden .filterBar .filterOptionContainer .filterInputs .optionBadgeContainer .badge.active{
    background: var(--primary-color);
    color: var(--white-text);
    border: none;
}
.home .homeContainer .homeShow{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.home .homeContainer .homeShow .categories{
    display: flex;
    gap: 24px;
}
.home .homeContainer .homeShow .categories .categorie{
    padding: 12px 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: var(--bg-color);
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    width: -webkit-fill-available;
    cursor: pointer;
    transition: ease-in 300ms all;
}
.home .homeContainer .homeShow .categories .categorie:hover{
    background-color: #FFD08F;
}
.home .homeContainer .homeShow .categories .categorie span{
    font-size: 14px;
    font-weight: 600;
}
.home .homeContainer .homeShow .categories .categorie.active{
    background: var(--primary-color);
    border: none;
}
.home .homeContainer .homeShow .categories .categorie.active span{
    color: var(--white-text);
}
.home .homeContainer .homeShow .categories .categorie .categorieIcon{
    padding: 10px;
    border-radius: 8px;
}
.home .homeContainer .homeShow .categories .categorie.active .categorieIcon{
    background: var(--bg-color)!important;
}
.home .homeContainer .homeShow .homeContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}

/* -------ShopCard */
.shopCard{
    padding: 12px;
    border: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-radius: 8px;
    align-items: center;

    max-width: 25%;
}
.shopCard .imageContent {
    position: relative;
    width: 100%;
}
.shopCard .imageContent img{
    width: 100%;
    height: 167px;
    object-fit: cover;
    border-radius: 12px;
}
.productBadge{
    position: absolute;
    bottom: 8px;
    left: 9px;
    font-size: 16px;
    color: var(--white-text);
    font-weight: 400;
    padding: 2px 6px;
    border-radius: 179px;
}
.productBadge.availableProduct{
    background: #39C5A3;
}
.productBadge.soldOutProduct{
    background: #FD2A2A;
}
.shopCard .details{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}
.shopCard .details .detailsInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.shopCard .details .detailsInfo .detailTitle{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}
.shopCard .details .detailsInfo .detailWeight{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}
.shopCard .details .detailsInfo .detailWeight sup{
    font-weight: 400;
    font-size: 12px;
}
.shopCard .details .detailsInfo .detailDelivery{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.shopCard .details .detailsInfo .detailDelivery span{
    font-weight: 400;
    font-size: 12px;
}
.shopCard .details .detailsInfo .detailDelivery .Price{
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}
.shopCard .details .detailsInfo .detailDelivery .Price sup{
    font-weight: 400;
    font-size: 12px;
    color: var(--secondary-text);
}
.shopCard .details .shopBtn{
    width: 100%;
}
.shopCard .details .shopBtn button{
    color: var(--white-text);
    background: var(--button-bg);
    width: 100%;
    padding: 6px;
    border-radius: 8px 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shopCard .details .shopBtn button label{
    font-size: 16px;
    font-weight: 700;
}
.shopCard .details .shopBtn button span{
    font-size: 18px;
    font-weight: 700;
}
.shopCard .details .shopBtn button span sup{
    font-weight: 400;
    font-size: 12px;
}

/* -------Contact Support */

.contactSupport{
    position: fixed;
    z-index: 100;
    background: var(--primary-color);
    bottom: 36px;
    right: 24px;
    border-radius: 50%;
    width: 127px;
    height: 127px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.contactSupport .content{
    color: var(--white-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactSupport .content svg{
    font-size: 56px;
}
.contactSupport .content span{
    font-size: 16px;
    font-weight: 500;
}

/*---- About Div Home */
.aboutHome{
    margin: 155px 24px;
}
.aboutHome .aboutHomeContainer{
    display: flex;
}
.aboutHome .aboutHomeContainer .aboutInfo{
    padding: 24px;
    background-color: #F2F2F2;
    position: relative;
    display: flex;
    justify-content: center;
    
}
.aboutHome .aboutHomeContainer .aboutInfo img{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.aboutHome .aboutHomeContainer .aboutInfo .textContent{
    margin-top: 60px;
}

.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100%;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1000;
  }
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal{
    background: var(--white-text);
    padding: 45px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 75%;
    z-index: 1001;
  }
  .modal svg{
    font-size: 18px;
    cursor: pointer;
  }
  .modal .modalDetails{
    display: flex;
    gap:22px
  }
  .modal .modalDetails .modalPicture{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 10;
  }
  .modal .modalDetails .modalPicture .pictures{
    width: 100%;
    height: 400px;
    position: relative;
  }
  .modal .modalDetails .modalPicture .pictures img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
  }
  .modal .modalDetails .modalText{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
  }
  .modal .modalDetails .modalText .title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 26px;
    font-weight: 700;
    
  }
  .modal .modalDetails .modalText  .weight{
    display: flex;
    gap: 16px;
  }
  .modal .modalDetails .modalText  .weight span{
    font-size: 20px;
    color: var(--secondary-text);
    font-weight: 300;
  }
  .modal .modalDetails .modalText  .weight label{
    font-size: 20px;
    font-weight: 700;
  }
  .modal .modalDetails .modalText .weight{
    text-align: left;
  }
  .modal .modalDetails .modalText .priceSettings{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .modal .modalDetails .modalText .priceSettings .price{
    display: flex;
    gap: 16px;
  }
  .modal .modalDetails .modalText .priceSettings span{
    font-size: 20px;
    color: var(--secondary-text);
    font-weight: 300;
  }
  .modal .modalDetails .modalText .priceSettings label{
    font-size: 20px;
    font-weight: 700;
  }
  .modal .modalDetails .modalText .priceSettings .settings{
    display: flex;
    gap: 30px;
  }
  .modal .modalDetails .modalText .priceSettings .settings .settingsBtn{
    font-size: 16px;
    font-weight: 600;
    color: var(--white-text);
    padding: 8px;
    background: var(--primary-color);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .modal .modalDetails .modalText .priceSettings .settings span{
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-text);
  }
  .modal .modalDetails .modalText .pricing{
    background: #f8f8f8;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding-top:22px ;
    gap: 22px;
    width: 100%;
  }
  .modal .modalDetails .modalText .pricing .priceDetail .priceDetailbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .modal .modalDetails .modalText .pricing .priceDetail .priceDetailMenu{
    display: none;
  }
  .modal .modalDetails .modalText .pricing .priceDetail .priceDetailMenu.active{
    width: 100%;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
    color: var(--secondary-text);
    flex-direction: column;
    display: table;
  }
  .modal .modalDetails .modalText .pricing .priceDetail .priceDetailMenu .col{
   
    justify-content: space-between;
    width: 100%;
  }
  .modal .modalDetails .modalText .pricing .priceDetail .priceDetailMenu .col td:first-child{
    text-align: left;
  }
  .modal .modalDetails .modalText .pricing .priceDetail .priceDetailMenu .col td:last-child{
    text-align: right;
  }
  .modal .modalDetails .modalText .pricing .priceDetail .priceDetailbtn label{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .modal .modalDetails .modalText .pricing .priceDetail .priceDetailbtn label svg{
    color: var(--secondary-text);
    margin-left: 10px;
    font-size: 28px;
  }
  .modal .modalDetails .modalText .pricing .priceDetail .priceDetailbtn span{
    font-size: 16px;
    color: var(--secondary-text);
  }
  .modal .modalDetails .modalText .pricing .totalPrice{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .modal .modalDetails .modalText .pricing .totalPrice label{
    font-size: 20px;
    font-weight: bold;
  }
  .modal .modalDetails .modalText .pricing .totalPrice span{
    font-size: 20px;
    font-weight: bold;
  }
  .disable{
    display: none!important;
  }
  .modal .modalDetails .modalText .pricing .addToCartBtn{
    width: 100%;
  }
  .modal .modalDetails .modalText .pricing .addToCartBtn button{
    color: var(--white-text);
    background: var(--button-bg);
    width: 100%;
    padding: 22px;
    border-radius: 11px;
    border: none;
    cursor: pointer;
    font-size: 19px;
}
@media (max-width: 990px){
    .modal{
        padding: 20px;
    }
    .modal .modalDetails {
        flex-direction: column;
    }
    .hidden{
        display: none;
    }
    .filterBar{
        position: absolute;
        top: 0;
        left: 0;
        width: -webkit-fill-available;
        height: 100%;
        background: #FFF1DE;
       
        z-index: 1000;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        
        
    }
    .filterBar hr{
        border:0.5px solid #FFD08F;
        width:100%
    }
    .filterBar .filterOptionContainer{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .filterBar .filterOptionContainer .filterTitle{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .filterBar .filterOptionContainer .filterTitle .optionSettings{
        display: flex;
        align-items: center;
        font-size: 12px;
        gap: 10px;
    }
    .filterBar .filterOptionContainer .filterTitle .optionSettings a{
        color: var(--primary-color);
    }
    .filterBar .filterOptionContainer .filterTitle .optionSettings svg{
        font-size: 18px;
    }
    .filterBar .filterOptionContainer .filterTitle .optionSettings .expandBtn{
        display: flex;
        align-items: center;
        background: none;
        border: none;
        outline:none;
        padding: 0;
    }
    .filterBar .filterOptionContainer .filterTitle .optionSettings .expandBtn svg{
        font-size: 20px;
        color: var(--secondary-text);
    }
    .filterBar .filterOptionContainer .filterTitle h3{
        margin: 0;
        font-size: 18px;
    }
    .filterBar .filterOptionContainer .filterInputs{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .filterBar .filterOptionContainer .filterInputs .rangeValues{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .filterBar .filterOptionContainer .filterInputs .rangeValues span{
        font-weight: bold;
        font-size: 14px;
    }
    .filterBar .filterOptionContainer .filterInputs .optionBadgeContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 9px;
    }
    .filterBar .submitBtn{
        display: flex;
        gap: 12px;
        
    }
    .filterBar .submitBtn .submit{
        flex: 0 0 75%;
        
        background: var(--button-bg);
        padding: 10px 24px;
        border-radius: 6px;
        color: var(--white-text);
        font-size: 16px;
        font-weight: 600;
    }
    .filterBar .submitBtn .reset{
        flex: 0 0 25%;
        background: #BDBDBD;
        padding: 10px 24px;
        border-radius: 6px;
        color: var(--white-text);
        font-size: 16px;
        font-weight: 600;
    }
    .filterBar .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .filterBar .filterOptionContainer .filterInputs .optionBadgeContainer .badge{
        background: var(--bg-color);
        color: var(--primary-text);
        border: 1px solid var(--secondary-text);
        padding: 4px 16px;
        border-radius: 24px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
    }
    .filterBar .filterOptionContainer .filterInputs .optionBadgeContainer .badge.active{
        background: var(--primary-color);
        color: var(--white-text);
        border: none;
    }
    .home .homeContainer .homeShow .categories {
        display: flex;
        gap: 10px;
    }
    .home .homeContainer .homeShow .categories .categorie {
        padding: 4px 15px;
    }
    .searchBar{
        background: none;
        display: flex;
        align-items: center;
    }
    .searchBar .filterDisplayBtn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .searchBar .searchBarContainer .inputField{
        border: 1px solid var(--secondary-text);
    }
}
@media (max-width: 768px){
    .home .homeContainer .homeShow .categories .categorie{
        flex-direction: column;
    }
    .searchBar .searchBarContainer .inputField input{
        width: 400px;
    }
    .shopCard{
        max-width: 40%;
        cursor: pointer;
    }
    .contactSupport{
        width: 80px;
        height: 80px;
        bottom: 8px;
    }
    .aboutHome{
        margin: 0;
    }
    .aboutHome .aboutHomeContainer{
        flex-direction: column;
    }
    .aboutHome .aboutHomeContainer .aboutInfo{
        position: unset;
    }
    .aboutHome .aboutHomeContainer .aboutInfo img{
        position: unset;
        width: 45px;
        height: fit-content;
    }
    .aboutHome .aboutHomeContainer .aboutInfo .textContent{
        text-align: left;
        margin-top: 0px;
    }
    .aboutHome .aboutHomeContainer .aboutInfo .textContent h3{
        margin-top: 0px;
    }
    .contactSupport .content svg {
        font-size: 40px;
    }
    .contactSupport .content span {
        font-size: 11px;
        font-weight: 500;
    }
}
@media (max-width: 560px){
    .modalLogin{
        width: 80%;
    }
    .searchBar .searchBarContainer .inputField input{
        width: 260px;
    }
    .modal .modalDetails .modalText .title{
        font-size: 14px;
    }
    .modal .modalDetails .modalText .weight span{
        font-size: 14px;
    }
    .modal .modalDetails .modalText .weight label {
        font-size: 16px;
        font-weight: 700;
    }
    .modal .modalDetails .modalText .priceSettings span{
        font-size: 14px;
    }
    .modal .modalDetails .modalText .priceSettings label{
        font-size: 16px;
    }
    .modal .modalDetails .modalText{
        gap: 10px;
    }
    .modal .modalDetails .modalText .priceSettings .settings .settingsBtn{
        padding: 4px;
        border-radius: 4px;

    }
    .modal .modalDetails .modalText .priceSettings .settings span{
        font-size: 18px;
    }
    .modal .modalDetails .modalText .pricing .priceDetail label{
        font-size: 16px;
    }
    .modal .modalDetails .modalText .pricing .totalPrice label{
        font-size: 16px;
    }
    .modal .modalDetails .modalText .pricing{
        gap: 10px;
        padding-top: 0;
    }
    .home .homeContainer .homeShow .homeContent{
        gap: 10px;
    }
    .shopCard .details .detailsInfo .detailTitle{
        font-size: 12px;
    }
    .shopCard .details .detailsInfo .detailDelivery .Price{
        font-size: 12px;
    }
    .shopCard .details .shopBtn button label{
        font-size: 12px;
    }
    .shopCard .imageContent img{
        height: 140px;
    }
    .shopCard .details .shopBtn button span{
        font-size: 12px;
    }
    .error{
        font-size: 12px;
    }
}
.error{
    font-size: 18px;
    color: #FD2A2A;
    font-weight: 600;
}

/* ---Login */

.modalLogin{
    background: var(--bg-color);
    border-radius: 8px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1001;
}
.modalLogin svg{
    font-size: 22px;
    color: var(--secondary-text);
}
.modalLogin form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.modalLogin form .logo{
    font-weight: 700;
    font-size: 24px;
}
.modalLogin form h3{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    line-height: 44px;
}
.modalLogin form p{
    font-size: 18px;
    margin: 0;
    font-weight: 700;
    color: var(--secondary-text);
}
.modalLogin form .inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.modalLogin form .inputs .phoneNumWrapper.input{
    border: 1px solid var(--secondary-text);
    border-radius: 12px;
    padding: 6px;
}
.modalLogin form .inputs .phoneNumWrapper{
    display: flex;
    gap: 16px;
}
.modalLogin form .inputs .phoneNumWrapper input{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    border: none;
}
.modalLogin form .inputs .phoneNumWrapper .selectWrapper{
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
}
.modalLogin form .inputs .phoneNumWrapper .selectWrapper svg{
    font-size: 24px;
    position: absolute;
}
.modalLogin form .inputs .phoneNumWrapper .selectWrapper svg:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }
.modalLogin form .inputs .phoneNumWrapper .selectWrapper select{
    border: none;
    outline: none;
    background-color: transparent;
  padding: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 10;
  padding-left: 24px;
}
.modalLogin form .inputs .input2{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.modalLogin form .inputs .input2 .inputField{
    border: var(--secondary-text) 1px solid;
    border-radius: 12px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.modalLogin form .inputs .input2 .inputField input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 85%;
    height: 35px;
}
.modalLogin form .inputs .input2 .inputField svg{
    font-size: 24px;
    color: var(--secondary-text);
}
.modalLogin form .inputs .input2 .inputField svg:nth-child(3){
    position: absolute;
    right: 10px;

    cursor: pointer;
}
.modalLogin form .inputs .input2 a{
    color: #39C5A3;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-align: left;
}
.modalLogin form button.submit{
    background: var(--button-bg);
    padding: 10px 24px;
    border-radius: 6px;
    color: var(--white-text);
    font-size: 16px;
    font-weight: 600;
}
.modalLogin form .signup{
    font-size: 16px;
    font-weight: 700;
}
.modalLogin form .signup a{
    color: #39C5A3;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    
}

/* --- Phone Verifaction */
.phoneV{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.phoneV .phoneVContainer{
    display: flex;
    width: 75%;
    justify-content: space-evenly;
}
.phoneV .phoneVContainer form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.phoneV .phoneVContainer form h3{
    font-size: 24px;
    font-weight: bold;
}
.phoneV .phoneVContainer form .phrase{
    font-size: 16px;
    font-weight: 700;
    color:var(--secondary-text);
}
.phoneV .phoneVContainer form .inputs{
    display: flex;
    gap: 24px;
}
.phoneV .phoneVContainer form .inputs input{
    background: #f5f5f5;
    border: none;
    outline: none;
    width: 50px;
    height: 61px;
    text-align: center;

    font-size: 20px;
    font-weight: bold;
}
.phoneV .phoneVContainer form .timer{
    color: var(--secondary-text);
    font-size: 16px;
    font-weight: 400;
    display: flex;
}
.phoneV .phoneVContainer form .btnSubmit{
    width: 100%;
}
.phoneV .phoneVContainer form .btnSubmit button{
    background: var(--button-bg);
    padding: 10px 24px;
    border-radius: 6px;
    color: var(--white-text);
    font-size: 16px;
    font-weight: 600;
    width:100%;
    margin-bottom: 12px;
}
.phoneV .phoneVContainer form .btnSubmit .signup{
    font-size: 16px;
    font-weight: 700;
}
.phoneV .phoneVContainer form .btnSubmit .signup a{
    color: #39C5A3;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    
}
@media (max-width: 768px) {
    .phoneV .phoneVContainer{
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }
    .phoneV .phoneVContainer img{
        width: 100px
    }
}

/* -----------About US */
.aboutus{
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.aboutus header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutus header .ornageBlurBg{
    position: absolute;
    background: linear-gradient(180deg, #FD572A 0%, #F0951D 100%);
    filter: blur(132.514px);
    width: 50%;
    height: 65%;
    z-index: 1;
}
.aboutus header .content{
    z-index: 10;
}
.aboutus header .content h2{
    font-size: 40px;
}
.aboutus header .content .screens{
    display: flex;

    justify-content: center;
}
.aboutus .container{
    margin-left: 90px;
    margin-right: 90px;
    display: flex;

    flex-direction: column;
    gap: 50px;
}
.aboutus .container .information{
    display: flex;
    margin: 36px 0;
    justify-content: space-between;
}
.aboutus .container .information div{
    text-align: left;
    width: 30%;
}
.aboutus .container .information div h3{
    font-size: 34px;
    font-weight: 700;
}
.aboutus .container .information div p{
    font-size: 18px;
    font-weight: 400;
}
.aboutus .container .contactUs{
    width: 100%;
}
.aboutus .container .contactUs h3{
    font-size: 34px;
    font-weight: 700;
    text-align: left;
}
.aboutus .container .contactUs form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    align-items: flex-start;
}
.aboutus .container .contactUs form .inputField{
    border: 1px solid var(--secondary-text);
    border-radius: 14px;
    padding: 8px 12px;
    width: -webkit-fill-available;
    display: flex;
}
.aboutus .container .contactUs form .inputField input,
.aboutus .container .contactUs form .inputField textarea{
    outline: none;
    border: none;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}
.aboutus .container .contactUs form .inputField textarea{
    height: 200px;
}
.aboutus .container .contactUs form .submitBtn{
    width: 100%;
    display: flex;
}
.aboutus .container .contactUs form .submitBtn button{
    background: var(--button-bg);
    padding: 10px 24px;
    border-radius: 6px;
    font-size: 16px;
    color: var(--white-text);
    width: 30%;

    display: flex;
}
.aboutus .container .adress{
    width: 100%;
}
.aboutus .container .adress h3{
    font-size: 34px;
    font-weight: 700;
    text-align: left;
}
.aboutus .container .adress p{
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}
@media (max-width: 930px){
    .aboutus .container .information div{
        width: 45%;
    }
    .aboutus header .screens img{
        width: 200px;
    }
}
@media (max-width: 768px) {
    .aboutus header .screens img{
        width: 150px;
    }
    .aboutus .container .information{
        flex-direction: column;

    }
    .aboutus .container .information div{
        width: 100%;
    }
}

/* ------Empty Search Result */

.emptySearch{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.emptySearch .background{
    position: absolute;
}
.emptySearch .container img{
    width: 340px;
    mix-blend-mode: luminosity;
    filter: grayscale(1);
}
.emptySearch .container div button{
    background: var(--button-bg);
    padding: 18px 80px;
    border-radius: 40px;
    font-size: 16px;
    color: var(--white-text);
    
}
@media (max-width: 768px){
    .emptySearch .background{
        width: 100%;
    }
}

/* --------- Profile */
.profileContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    margin: 0 130px;
}
.profileContainer .container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: 60%;
}
.profileContainer .container h2{
    font-size: 24px;
    font-weight: bold;
}
.profileContainer .container form{
    display: table;
    flex-wrap: wrap;
    gap: 16px;
}
.profileContainer .container form .input-control{
    display: table-cell;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding: 6px 16px;
}
.profileContainer .container form .input-control label{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    display: flex;
}
.profileContainer .container form .input-control .input{
    border: var(--secondary-text) 1px solid;
    border-radius: 18px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

}
.profileContainer .container form .input-control .input input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 85%;
}
.table-row{
    display: table-row;
}
.profileContainer .container form .input-control .input svg{
    font-size: 24px;
    color: var(--secondary-text);
}
.table-cell{
    display: table-cell;
}
.profileContainer .container form .submitBtn button{
    width: 90%;
    margin: 16px;
    background: var(--button-bg);
    padding: 10px 24px;
    border-radius: 6px;
    color: var(--white-text);
}
.profileContainer .container form.disabledForm input{
    opacity:0.5
}
.profileContainer .container form.disabledForm .input{
    border-color: rgb(161, 161, 161);
}
.profileContainer .container form.disabledForm .input button{
    color: var(--secondary-text);
}
@media(max-width: 1090px){
    .profileContainer .container{
        width: 100%;
    }
    .profileContainer .container form{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .profileContainer .container form .input-control{
        display: block;
        width: 100%;
    }
}