/* ---------Navbar */
.navbar{
    padding: 17px 16px;
    border-bottom: 0.5px solid #E0E0E0;
}
.navbar .navbarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar .navbarMenu{
    display: none;
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    padding: 12px;
    height: 100%;
    z-index: 10;
}
.navbar .navbarMenu .navbarMenuExit{
    color: var(--secondary-text);
    font-size: 24px;
    float: right;
}
.navbar .navbarMenu .navbarItems{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin: 38px;
}
.navbar .navbarMenu .navbarItems .navbarItem a{
    color: var(--secondary-text);
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 4px;
}
.navbar .navbarMenu .navbarItems .navbarItem.button{
    background: var(--button-bg);
    padding: 10px 24px;
    border-radius: 6px;
}
.navbar .navbarMenu .navbarItems .navbarItem.button a{
    color: var(--white-text);
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
}
.navbar .navbarMenu.active{
    display: block;
}
.navbar .navbarContainer .menuIcon{
    display: none;
}
.navbar .navbarContainer .navbarItems{
    display: flex;
    gap:24px;
    align-items: center;
}
.navbar .navbarContainer .navbarLogo{
    font-weight: 700;
    font-size: 24px;
}
.navbar .navbarContainer .navbarItems .navbarItem a{
    color: var(--secondary-text);
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 4px;
}
.navbar .navbarContainer .navbarItems .navbarItem.button{
    background: var(--button-bg);
    padding: 10px 24px;
    border-radius: 6px;
}
.navbar .navbarContainer .navbarItems .navbarItem.button a{
    color: var(--white-text);
    gap: 10px;
    font-size: 14px;
    font-weight: 700;
}
.navbar .navbarContainer .navbarItems .navbarItem a svg{
    font-size: 24px;
}
@media (max-width: 768px) {
    .navbar .navbarContainer .navbarItems{
        display:none;
    }
    .navbar .navbarContainer .menuIcon{
        display: block;
        font-size: 24px;
        color: var(--secondary-text);
    }
    .navbar .navbarContainer .navbarLogo{
        font-weight: 700;
        font-size: 18px;
    }
}

/* -------Register */
.register{
    padding: 75px 250px;
}
.register .registerContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 16px;
}
.register .registerContainer h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
}
.register .registerContainer p{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: var(--secondary-text);
}
.register .registerContainer form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.register .registerContainer form .registerInputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
    flex-wrap: wrap;
    margin-bottom: 24px;
    gap: 24px;
}
.register .registerContainer form .registerInputs .inputField{
    border: var(--secondary-text) 1px solid;
    border-radius: 18px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.register .registerContainer form .registerInputs .inputField svg{
    font-size: 24px;
    color: var(--secondary-text);
}
.register .registerContainer form .registerInputs .inputField svg:nth-child(3){
    position: absolute;
    right: 10px;

    cursor: pointer;
}
.register .registerContainer form .registerInputs .inputField input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 85%;
}
.register .registerContainer form .submit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.register .registerContainer form .submit .submitCheck{
    display: flex;
    gap:10px;
    align-items: center;
}
.register .registerContainer form .submit .submitCheck input{
    outline: 2px solid black;
    border-radius: 4px;
}
.register .registerContainer form .submit .submitCheck span{
    font-size: 14px;
    font-weight: 700;
}
.register .registerContainer form .submit .submitCheck span a{
    text-decoration: none;
}
.register .registerContainer form .submit .submitButton button{
    color: var(--white-text);
    background: var(--button-bg);
    padding: 16px 145px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
@media(max-width: 1090px){
    .register{
        padding: 55px 150px;
    }
}
@media(max-width: 890px){
    .register{
        padding: 48px 88px;
    }
}
@media(max-width: 890px){

    .register {
        padding: 0 10px;
    }
    .register .registerContainer form .registerInputs{
        grid-template-columns: 1fr;
    }
    .register .registerContainer{
        padding: 10px 16px;
        align-items: center;
    }
    .register .registerContainer form .submit .submitButton,
    .register .registerContainer form .submit .submitButton{
        width: 100%;
    }
}

/* -------footer */

.footer{
    background-color: var(--primary-color);
    width: -webkit-fill-available;
    padding: 30px 155px;
}
.footer .footerContainer{
    display: flex;
    justify-content: space-between;
}
.footer .footerContainer .about{
    text-align: left;
    color: var(--white-text);
    width: 50%;
}
.footer .footerContainer .about .footerLogo{
    font-weight: 700;
    font-size: 24px;
}
.footer .footerContainer .about p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.footer .footerContainer .footerLinks{
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: var(--white-text);
}
.footer .footerContainer .footerLinks .socialMedia{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
}
.footer .footerContainer .footerLinks .socialMedia a{
    color: var(--white-text);
}
.footer .footerContainer .footerLinks .socialMedia a svg{
    font-size: 26px;
}
.footer .footerContainer .footerLinks .socialMedia a img{
    height: 26px;
}
.footer .footerContainer .footerLinks .links{
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}
.footer .footerContainer .footerLinks .links a{
    text-decoration: none;
    color: var(--white-text);
    font-size: 18px;
    font-weight: 400;
}
.footer .footerContainer .footerLinks .rights{
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
}
.footer .footerContainer .footerLinks .rights a{
    color: var(--white-text);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
@media(max-width: 1090px){
    .footer{
        padding: 30px 45px;
    }
}
@media(max-width: 890px){
    .footer .footerContainer{
        flex-direction: column;
        align-items: center;
    }
    .footer .footerContainer .about {
        text-align: center;
        width: 90%;
    }
    .footer .footerContainer .footerLinks{
        align-items: center;
    }
}

/* ---------Reset Password  */
.passwordReset{
    padding: 75px 250px;
}
.passwordReset .passwordResetContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
}
.passwordReset .passwordResetContainer h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 45px;
}
.passwordReset .passwordResetContainer form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.passwordReset .passwordResetContainer form .inputField{
    border: var(--secondary-text) 1px solid;
    border-radius: 18px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.passwordReset .passwordResetContainer form .inputField svg{
    font-size: 24px;
    color: var(--secondary-text);
}
.passwordReset .passwordResetContainer form .inputField svg:nth-child(3){
    position: absolute;
    right: 10px;

    cursor: pointer;
}
.passwordReset .passwordResetContainer form .inputField input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 85%;
}
.passwordReset .submitButton button{
    color: var(--white-text);
    background: var(--button-bg);
    padding: 16px 145px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
@media(max-width: 890px){
    .passwordReset{
        padding:0;
    }
}

/* -------Home */

/* --searchBar */
.searchBar{
    background:var(--button-bg);
    padding: 24px;
}
.searchBar .searchBarContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.searchBar .searchBarContainer .inputField{
    background: var(--bg-color);
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border-radius: 18px;
}
.searchBar .searchBarContainer .inputField input{
    border: none;
    outline: none;
    font-size: 16px;
    width: 500px;
}
.searchBar .searchBarContainer .inputField svg{
    font-size: 32px;
    color: var(--primary-color);
}
/* --HomeContent */
.home{
    margin: 20px 24px;
}
.home .homeContainer{
    display: flex;
    gap: 11px;
}
.home .homeContainer .filterBar{
    background: #FFF1DE;
    border-radius: 8px;
    flex: 0 0 auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 415px;
}
.home .homeContainer .filterBar hr{
    border:0.5px solid #FFD08F;
    width:100%
}
.home .homeContainer .filterBar .filterOptionContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.home .homeContainer .filterBar .filterOptionContainer .filterTitle{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.home .homeContainer .filterBar .filterOptionContainer .filterTitle .optionSettings{
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
}
.home .homeContainer .filterBar .filterOptionContainer .filterTitle .optionSettings a{
    color: var(--primary-color);
}
.home .homeContainer .filterBar .filterOptionContainer .filterTitle .optionSettings svg{
    font-size: 18px;
}
.home .homeContainer .filterBar .filterOptionContainer .filterTitle .optionSettings .expandBtn{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    outline:none;
    padding: 0;
}
.home .homeContainer .filterBar .filterOptionContainer .filterTitle .optionSettings .expandBtn svg{
    font-size: 20px;
    color: var(--secondary-text);
}
.home .homeContainer .filterBar .filterOptionContainer .filterTitle h3{
    margin: 0;
    font-size: 18px;
}
.home .homeContainer .filterBar .filterOptionContainer .filterInputs{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.home .homeContainer .filterBar .filterOptionContainer .filterInputs .rangeValues{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home .homeContainer .filterBar .filterOptionContainer .filterInputs .rangeValues span{
    font-weight: bold;
    font-size: 14px;
}
.home .homeContainer .filterBar .filterOptionContainer .filterInputs .optionBadgeContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}
.home .homeContainer .filterBar .filterOptionContainer .filterInputs .optionBadgeContainer .badge{
    background: var(--bg-color);
    color: var(--primary-text);
    border: 1px solid var(--secondary-text);
    padding: 4px 16px;
    border-radius: 24px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}
.home .homeContainer .filterBar .filterOptionContainer .filterInputs .optionBadgeContainer .badge.active{
    background: var(--primary-color);
    color: var(--white-text);
    border: none;
}
.home .homeContainer .homeShow{
    flex: 1 0 auto;
}
.home .homeContainer .homeShow .categories{
    display: flex;
    gap: 24px;
}
.home .homeContainer .homeShow .categories .categorie{
    padding: 12px 24px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: var(--bg-color);
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    width: -webkit-fill-available;
}
.home .homeContainer .homeShow .categories .categorie span{
    font-size: 14px;
    font-weight: 600;
}
.home .homeContainer .homeShow .categories .categorie.active{
    background: var(--primary-color);
    border: none;
}
.home .homeContainer .homeShow .categories .categorie.active span{
    color: var(--white-text);
}
.home .homeContainer .homeShow .categories .categorie .categorieIcon{
    padding: 10px;
    border-radius: 8px;
}
.home .homeContainer .homeShow .categories .categorie.active .categorieIcon{
    background: var(--bg-color)!important;
}