@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --font-base : 'Cairo', sans-serif;

  --primary-color : #FF9F1C;
  --button-bg : linear-gradient(180deg, #FD572A 0%, #F0951D 100%);
  --bg-color: white;

  --primary-text : black;
  --secondary-text : #868889;
  --white-text: white;
  --important-text : linear-gradient(180deg, #FD572A 0%, #F0951D 100%);
}
body {
  margin: 0;
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.importantText{
  background: linear-gradient(180deg, #FD572A 0%, #F0951D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}