@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --font-base : 'Cairo', sans-serif;

  --primary-color : #FF9F1C;
  --button-bg : linear-gradient(180deg, #FD572A 0%, #F0951D 100%);
  --bg-color: white;

  --primary-text : black;
  --secondary-text : #868889;
  --white-text: white;
  --important-text : linear-gradient(180deg, #FD572A 0%, #F0951D 100%);
}
*{
  font-family: var(--font-base);
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.importantText{
  background: linear-gradient(180deg, #FD572A 0%, #F0951D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rc-slider-handle{
  background-color: var(--primary-color)!important;
  border: solid 2px var(--primary-color);
}
button{
  outline: none;
  border: none;
  cursor: pointer;
}
.z-100{
  z-index: 100;
}
.ReactFlagsSelect-module_label__27pw9, .ReactFlagsSelect-module_secondaryLabel__37t1D{
  padding-left: 33px!important;
}
.ReactFlagsSelect-module_selectOptionValue__vS99- ,
.ReactFlagsSelect-module_selectValue__152eS{
  display: flex;
  align-items: stretch!important;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2{
  padding-bottom: 0!important;
  width: 100%!important;
}
.ReactFlagsSelect-module_selectBtn__19wW7{
  border: none!important;
}