@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
:root{
  --font-base : 'Cairo', sans-serif;

  --primary-color : #FF9F1C;
  --button-bg : linear-gradient(180deg, #FD572A 0%, #F0951D 100%);
  --bg-color: white;

  --primary-text : black;
  --secondary-text : #868889;
  --white-text: white;
  --important-text : linear-gradient(180deg, #FD572A 0%, #F0951D 100%);
}
*{
  font-family: var(--font-base);
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.importantText{
  background: linear-gradient(180deg, #FD572A 0%, #F0951D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.rc-slider-handle{
  background-color: var(--primary-color)!important;
  border: solid 2px var(--primary-color);
}
button{
  outline: none;
  border: none;
  cursor: pointer;
}
.z-100{
  z-index: 100;
}
.ReactFlagsSelect-module_label__27pw9, .ReactFlagsSelect-module_secondaryLabel__37t1D{
  padding-left: 33px!important;
}
.ReactFlagsSelect-module_selectOptionValue__vS99- ,
.ReactFlagsSelect-module_selectValue__152eS{
  display: flex;
  align-items: stretch!important;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2{
  padding-bottom: 0!important;
  width: 100%!important;
}
.ReactFlagsSelect-module_selectBtn__19wW7{
  border: none!important;
}
.ReactFlagsSelect-module_selectValue__152eS, .ReactFlagsSelect-module_selectOption__3pcgW{
  padding: 0!important;
  margin: 0!important;
}
.profileContainer .ReactFlagsSelect-module_selectBtn__19wW7{
  padding: 0!important;
}
.profileContainer  .ReactFlagsSelect-module_label__27pw9, .ReactFlagsSelect-module_secondaryLabel__37t1D{
  padding-left: 0px!important;
}
.w-80{
  width: 80%;
}
.ReactFlagsSelect-module_fullWidthOptions__1XeR6{
  left: -5px;
  padding-left: 4px;
}
.ReactFlagsSelect-module_fullWidthOptions__1XeR6::-webkit-scrollbar{
  width: 4px;
}
.ReactFlagsSelect-module_fullWidthOptions__1XeR6::-webkit-scrollbar-track {
  background: none;
}
.ReactFlagsSelect-module_fullWidthOptions__1XeR6::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 24px;
}
.carousel .slider-wrapper{
  border-radius: 25px;
}
@media(max-width: 990px){
  video{
    width: 100%;
    height: auto;
  }
}

.css-bf1e45-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-bf1e45-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-bf1e45-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  text-align: left;
}
.css-mrvqko-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  display: none;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  text-align: left;
}
.css-mrvqko-MuiFormLabel-root-MuiInputLabel-root{
  display: none!important;
}
.carousel .control-dots{
  margin: 0px!important;
}